force-app/main/default/flows/Subscription_Status_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Automatically updates Account fields when Subscription status changes</description>
    <label>Subscription Status Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <object>Subscription__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>The subscription record that triggered this flow</description>
        <name>triggerSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <recordUpdates>
        <description>Update Account Last Subscription Date when subscription becomes Active</description>
        <name>Update_Account_Last_Subscription_Date</name>
        <label>Update Account Last Subscription Date</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggerSubscription.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Subscription_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Status__c</field>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <decisions>
        <description>Check if subscription status changed to Active</description>
        <name>Status_Changed_to_Active</name>
        <label>Status Changed to Active?</label>
        <locationX>176</locationX>
        <locationY>79</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Last_Subscription_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Status_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>triggerSubscription.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Last_Subscription_Date</targetReference>
            </connector>
            <label>Status is Active</label>
        </rules>
    </decisions>
</Flow>